body{
    font-family: 'Hanalei Fill', cursive;
}

h1{
        font-size: 50px;
}

.name-highlight{
    color: rgb(184, 123, 12);
}
.half-width{
      width: 40%;
      float: left;
      margin-left: 6%;
      padding-left: 2.5%;
}
.half-width img{
    100%
}